@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin box-shadow($box-shadow) {
    box-shadow: $box-shadow;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}
@mixin transform($transform) {
    -moz-transform:translateX($transform);
    -webkit-transform:translateX($transform);
    -o-transform:translateX($transform);
    transform: translateX($transform);
}