/*color*/
/*font size*/
/*h1*/
/*h2*/
/*h3*/
/*h4*/
/*h5*/
/*h6*/
._textPrimaryColor {
  color: #b57923; }

._marginBot90 {
  margin-bottom: 90px; }

._marginBot50 {
  margin-bottom: 50px; }

._marginRight25 {
  margin-right: 25px; }

._nomargin {
  margin: 0 !important; }

._bgDarkGrey {
  background-color: #222; }

._bggrey {
  background-color: #323232; }

._bgsuperlightgrey {
  background-color: #fcfcfc; }

._bordertoplightergrey {
  border-top: thin solid #f2f2f2; }

._posRelative {
  position: relative; }

._required:after {
  content: " *";
  color: #b52323; }

.global-animate, .btn, .tutorial-box, .mml-service, .news-feed > .thumbnail, .news-feed > .detail span {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.global-radius, .tutorial-box, .mml-service, .news-feed > .thumbnail {
  border-radius: 5px; }

.global-boxShadow, .tutorial-box:hover, .mml-service:hover, .news-feed:hover > .thumbnail {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15); }

h1,
.h1 {
  font-size: 36px;
  font-size: 2.25rem; }

h2,
.h2 {
  font-size: 30px;
  font-size: 1.875rem; }

h3,
.h3 {
  font-size: 24px;
  font-size: 1.5rem; }

h4,
.h4 {
  font-size: 18px;
  font-size: 1.125rem; }

h5,
.h5 {
  font-size: 14px;
  font-size: 0.875rem; }

h6,
.h6 {
  font-size: 12px;
  font-size: 0.75rem; }

a {
  color: #b57923;
  text-decoration: none; }

a:focus,
a:hover {
  color: #b57923;
  text-decoration: underline; }

.navbar-default {
  background: url(../../images/bg-header.jpg) center top no-repeat; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #f2f2f2; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none; }

.btn:hover {
  opacity: 0.8; }

.btn-default.focus,
.btn-default:focus,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  color: #b57923;
  background: transparent;
  border-color: #b57923; }

.form-group {
  margin-bottom: 20px; }
  .form-group > .borderBox {
    border: thin solid #b57923;
    background-color: transparent;
    color: #f2f2f2; }

label {
  font-weight: normal; }

.navbar-default {
  background-color: #222;
  border: none;
  border-radius: 0; }

.nav > li > a {
  padding: 15px 20px 15px 0; }
.nav > li .icon {
  font-size: 4px;
  font-size: 0.25rem;
  vertical-align: middle;
  margin-right: 8px; }

.navbar-default .navbar-nav > li > a {
  color: #f2f2f2; }
.navbar-default .navbar-nav > li > a:hover {
  color: #b57923; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  padding: 0; }

.nav-tabs {
  border-bottom: none; }
  .nav-tabs > .title {
    font-size: 18px;
    font-size: 1.125rem;
    margin-right: 30px; }
  .nav-tabs > .title.active a,
  .nav-tabs > .title.active a:hover,
  .nav-tabs > .title.active a:focus {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 5px solid #b57923; }
  .nav-tabs > .title a {
    margin-right: 0;
    color: #323232;
    padding: 15px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 5px solid #f2f2f2; }
  .nav-tabs > .title a:hover,
  .nav-tabs .title a:focus {
    background-color: transparent;
    border-color: #b57923; }

.thumbnail {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  border-radius: 0; }

.btn-default, .btn-default:hover {
  color: #b57923;
  background-color: transparent;
  border-color: #b57923; }

.btn {
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  border-radius: 5px; }

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 60px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
.owl-carousel .owl-dots .owl-dot span {
  font-family: FontAwesome;
  color: #b57923;
  background: none !important; }
.owl-carousel .owl-dots .owl-dot span:before {
  content: "\f10c"; }
.owl-carousel .owl-dots .owl-dot.active span:before {
  content: "\f111"; }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.navbar-default .navbar-toggle {
  border: none; }

.navbar-toggle {
  margin-right: 0px;
  padding-right: 0; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #b57923; }

.navbar-toggle .icon-bar {
  width: 26px;
  height: 2px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 5px; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none; }

.responsive-tabs-container .accordion-link {
  display: none;
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #323232;
  border-left: 5px solid #b57923;
  position: relative; }

.responsive-tabs-container .accordion-link:after {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  right: 0; }

/*color*/
/*font size*/
/*h1*/
/*h2*/
/*h3*/
/*h4*/
/*h5*/
/*h6*/
.global-animate, .btn, .tutorial-box, .mml-service, .news-feed > .thumbnail, .news-feed > .detail span {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.global-radius, .tutorial-box, .mml-service, .news-feed > .thumbnail {
  border-radius: 5px; }

.global-boxShadow, .tutorial-box:hover, .mml-service:hover, .news-feed:hover > .thumbnail {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15); }

@media (max-width: 1200px) {
  .navbar-default {
    background-image: none; }

  .navbar-header {
    float: right; }

  .navbar-left,
  .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px 15px; }
    .navbar-nav > li {
      float: none; }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px; }

  .collapse.in {
    display: block !important; }

  .navbar-top {
    padding: 5px 0 !important;
    border-bottom: none !important; }
    .navbar-top > .item.first {
      margin-right: 0 !important; }
    .navbar-top > .item.first > img {
      width: 180px; }
    .navbar-top > .item.second,
    .navbar-top .item.third {
      display: none; }

  .banner-messages > .title {
    padding-top: 80px !important; }

  .header-contact {
    padding: 15px !important;
    float: none !important; } }
@media (max-width: 992px) {
  .wrap-service {
    margin: 40px 0 40px 0 !important; }

  ._marginBot90 {
    margin-bottom: 20px; }

  .network-logo {
    margin-bottom: 0 !important; }

  .news-feed {
    padding: 10px 0 !important; }
    .news-feed > .thumbnail {
      margin-right: 0;
      margin-bottom: 20px; } }
@media (max-width: 768px) {
  .copy-right > .side {
    float: none !important; } }
html {
  font-size: 16px; }

body {
  font-family: 'Prompt', sans-serif;
  color: #323232;
  font-size: 16px;
  font-size: 1rem; }

/*Component
navbar-top*/
.blank-collumn {
  background-color: #f2f2f2; }

.navbar-top {
  padding: 16px 0;
  border-bottom: thin solid #323232; }
  .navbar-top > .item.first {
    margin-right: 128px; }

.header-contact {
  display: block;
  padding: 15px 20px 15px 0;
  color: #f2f2f2; }
  .header-contact > .social {
    color: #f2f2f2; }
  .header-contact > .social:hover {
    color: #b57923; }

.wrap-service {
  margin: 90px 0 60px 0; }

.mml-service {
  margin-bottom: 0 !important; }

.tab-content {
  padding: 20px 0; }

.subpage-title {
  color: #b57923; }

.tutorial-box, .mml-service {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 28px; }

.submit-group .forgotPass {
  float: right;
  padding-top: 14px; }

.bg-loginForm {
  background: url(../../images/bg-loginForm.png) center top no-repeat; }

.wrap-feedSlider {
  background-color: rgba(34, 34, 34, 0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding: 20px 0; }

.marquee-slide {
  overflow: hidden;
  color: #f2f2f2;
  list-style: none;
  padding-left: 0;
  margin: 0; }
  .marquee-slide .list {
    font-size: 14px;
    font-size: 0.875rem;
    float: left;
    margin-right: 50px; }
  .marquee-slide .list span {
    color: #b57923; }

.news-feed {
  padding: 30px 0;
  border-bottom: thin solid #f2f2f2; }
  .news-feed:hover > .detail span:first-child {
    color: #b57923; }
  .news-feed > .thumbnail {
    margin-right: 30px;
    overflow: hidden; }
  .news-feed > .detail:hover {
    text-decoration: none; }
  .news-feed > .detail span {
    display: block;
    color: #323232; }
  .news-feed > .detail span:first-child {
    margin-bottom: 16px; }
  .news-feed > .detail span:last-child {
    font-size: 12px;
    font-size: 0.75rem; }

.sitemap-list {
  list-style: none;
  margin-bottom: 40px;
  padding-left: 0; }
  .sitemap-list > .items.-title {
    color: #b57923;
    font-weight: 700; }
  .sitemap-list > .items {
    margin-bottom: 10px; }
  .sitemap-list > .items > a:hover {
    color: #b57923; }
  .sitemap-list > .items > a {
    color: #323232; }
  .sitemap-list > .items > a > .icon {
    font-size: 4px;
    font-size: 0.25rem;
    vertical-align: middle;
    margin-right: 4px; }

.gold-price {
  margin-bottom: 10px; }
  .gold-price > .title {
    color: #b57923; }
  .gold-price > .title > span {
    color: #323232;
    font-size: 16px; }

.table-list > thead > tr > th {
  border-bottom: thin solid #f2f2f2;
  padding: 18px 0; }
.table-list > tbody > tr > td {
  border-top: none;
  padding-top: 15px;
  padding-bottom: 15px; }
.table-list .fit {
  white-space: nowrap;
  width: 1%; }

.footer-contact {
  list-style: none;
  margin-bottom: 40px;
  padding-left: 0; }
  .footer-contact > .items > .icon {
    color: #b57923;
    margin-right: 10px; }
  .footer-contact > .items {
    margin-bottom: 10px; }

.network-logo {
  list-style: none;
  margin-bottom: 40px;
  padding-left: 0; }
  .network-logo > .items {
    float: left;
    margin-right: 40px; }

.login-form {
  color: #f2f2f2; }

.footer-logo {
  display: block;
  margin-bottom: 20px; }

.copy-right {
  color: #f2f2f2;
  font-size: 14px;
  font-size: 0.875rem; }
  .copy-right > .side {
    padding: 22px 0; }
  .copy-right > .side > .icon:hover {
    color: #b57923; }
  .copy-right > .side > .icon {
    color: #f2f2f2; }

.footer-top {
  padding: 30px 0; }

.subpage-content {
  padding: 90px 0; }

.navbar-toggle {
  overflow: hidden; }
  .navbar-toggle .icon-bar {
    transition: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7); }
  .navbar-toggle:not(.collapsed) .icon-bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg); }
  .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transform: translateX(-100%); }
  .navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); }

/*# sourceMappingURL=style.css.map */
