/*color*/

$brown-gold: #b57923;
$dark-grey:#222;
$grey: #323232;
$medium-grey:#444;
$lighter-grey: #f2f2f2;
$super-lighter-grey:#fcfcfc;
$danger:#b52323;

/*font size*/

$font-size48: 3rem;
$font-size36: 2.25rem;

/*h1*/

$font-size30: 1.875rem;

/*h2*/

$font-size24: 1.5rem;

/*h3*/

$font-size18: 1.125rem;

/*h4*/

$font-size16: 1rem;
$font-size14: 0.875rem;

/*h5*/

$font-size12: 0.75rem;

/*h6*/

$font-size4: 0.25rem;

$speed: 200ms;
$easing: cubic-bezier(0.7, 0, 0, 0.7);